<html lang="en">
  <head>
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main/css/style.css')}}">
  </head>
  <body>
  
  <div class="js-animsition animsition" id="site-wrap" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">


    <header class="templateux-navbar dark" role="banner">
     
      <div class="container"  data-aos="fade-down">
        <div class="row">

        <div class="col-3 templateux-logo">
            <a href="{{ url_for('main') }}" class="animsition-link"> <img src="../static/main/images/logo2.png" height="60px" width="200px"> </a>
          </div>

          <nav class="col-9 site-nav">
            <button class="d-block d-md-none hamburger hamburger--spin templateux-toggle templateux-toggle-light ml-auto templateux-toggle-menu" data-toggle="collapse" data-target="#mobile-menu" aria-controls="mobile-menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button> <!-- .templateux-toggle -->

             <ul class="sf-menu templateux-menu d-none d-md-block">
              <li>
                <a href="{{ url_for('main') }}" class="animsition-link"><h5>Home</h5></a>
              </li>
              <li class="active"><a href="{{ url_for('about') }}" class="animsition-link"><h5>About</h5></a></li>
              <li>
                <a href="{{ url_for('login') }}" class="animsition-link"><h5>Login</h5></a>
                
              </li>
              
              <li><a href="contact.html" class="animsition-link"><h5>Contact Us<h5></a></li>
            </ul> <!-- .templateux-menu -->

          </nav> <!-- .site-nav -->
          

        </div> <!-- .row -->
      </div> <!-- .container -->
    </header> <!-- .templateux-navba -->
    
    <div class="templateux-cover" style="background-image: url('../static/main/images/exam4.jpg');">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            
            <h1 class="heading mb-3" data-aos="fade-up">ABOUT US</h1>
            <p class="lead mb-5" data-aos="fade-up"  data-aos-delay="100"><font color="Black"><b>This is a commmon platform for students and education industries who are seeking information on higher education sector in India and abroad. One can rely on this platform for getting most brief and relevant data about Examinations and Courses.</font></p>
          
          </div>
        </div>
      </div>
    </div> <!-- .templateux-cover -->

    

    

    <div class="temnplateux-section">
      <center>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 block-heading-wrap" data-aos="fade-up"><br>
            <h2 class="heading mb-5 text-center">Our Team</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4" data-aos="fade-up">
            <div class="block-person-1">
              <img src="../static/main/images/user2.png" class="img-fluid">
              <div class="block-content">
                <h3 class="heading">Nishant Jain</h3>
                <p class="subheading">Co-Founder, Development</p>
                
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="block-person-1">
              <img src="../static/main/images/user2.png" class="img-fluid">
              <div class="block-content">
                <h3 class="heading">Bhupender Kumar</h3>
                <p class="subheading">Co-Founder, Development</p>
               
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="block-person-1">
              <img src="../static/main/images/user2.png" class="img-fluid">
              <div class="block-content">
                <h3 class="heading">Gaurav Bhojwani</h3>
                <p class="subheading">Co-Founder, Development</p>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </center>
    </div> <!-- .templateux-section -->

    <div class="templateux-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 block-heading-wrap" data-aos="fade-up">
            <h2 class="heading mb-5 text-center">Features</h2>
          </div>
        </div>
        <div class="row mb-5">
          <center>
          <div class="col-md-8 mb-4" data-aos="fade-up">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><img src="../static/main/images/vision.png" height="100px" width="100px"></div>
              <div class="media-body">
                <h3 class="h6 mb-4">Our Vision</h3>
                <p align="left" style=" font-weight: normal;"><font face="Work+Sans" size="3px" color="black">College Choosing decision, the second biggest decision of anyone's life should not go wrong. With the most interactive user interface and most validated content, we aspire to be the top education portals and help the students in every way in making his/her decision easier.<br><br></font></p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>
          <div class="col-md-7 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><img src="../static/main/images/mission.png" height="100px" width="100px"></div>
              <div class="media-body">
                <h3 class="h5 mb-4">Our Mission</h3>
                <p align="left" style=" font-weight: normal;"><font face="Work+Sans" size="3px" color="black">This platform has been created to fulfill a vision of empowering students with knowledge so that they make a wiser decision while choosing their career.<br><br></p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>
          <div class="col-md-5 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="media block-icon-1 d-block text-center">
              <div class="icon mb-3"><img src="../static/main/images/contribution.png" height="100px" width="100px"></div>
              <div class="media-body">
                <h3 class="h5 mb-4">Our Contribution</h3>
                <p align="left" style=" font-weight: normal;"><font face="Work+Sans" size="3px" color="black">This platform is free for all students and Colleges/institutes. It can be referred as Social Service.</p>
              </div>
            </div> <!-- .block-icon-1 -->
          </div>

        </div>
        
      </div>
    </div> 
    
    <footer class="templateux-footer bg-light">
      <center>
      <div class="container" style=" font-weight: normal;">

        <div class="row md-9">
          <div class="col-md-12">
          <center><p align="center">Keep Going ! ☺</p></center>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <div class="block-footer-widget">
                  <br>
                  <h3><b><font color="black">Learn More</font></b></h3>
                  <ul class="list-unstyled">
                    <li><a href="#">How it works?</a></li>
                    <li><a href="#">Sitemap</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="block-footer-widget">
                  <br>
                  <h3><b><font color="black">Support</font></b></h3>
                  <ul class="list-unstyled">
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                  
                  </ul>
                </div>
              </div>
              <div class="col-md-3">
                <div class="block-footer-widget">
                  <br>
                  <h3><b><font color="black">About Us</font></b></h3>
                  <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>

               <div class="col-md-3">
                <div class="block-footer-widget">
                  <br>
                  <h3><b><font color="black">Connect with us</font></b></h3>
                  <ul class="list-unstyled block-social ">
                    <li><a href="#" class="p-1"><span class="icon-facebook-square"></span></a></li>
                    <li><a href="#" class="p-1"><span class="icon-twitter"></span></a></li>
                    <li><a href="#" class="p-1"><span class="icon-github"></span></a></li>
                  </ul>
                </div>
              </div>
            </div> <!-- .row -->
            
          </div>
          
        </div> <!-- .row -->

        

      </div>
      </center>
    </footer> <!-- .templateux-footer -->
    

    

   </div> <!-- .js-animsition -->

 <script src="{{ url_for('static', filename='main/js/scripts-all.js')}}"></script>
  <script src="{{ url_for('static', filename='main/js/main.js')}}"></script>
  
  </body>
</html>