{% extends "reports.html" %}
{% block content %}

<!--Update Passowrd Form -->
<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

<form method="POST" action="{{url_for('datewise')}}">
<div class="row">
    <div class="col-4">
       <label><h5 style="font-weight: bold;">User Type :</h5></label>
                                     <center>
                                            <select class="form-control pl-0 form-control-line" required style="height: 40px; width: 300px" name="user">
                                                <option>select</option>
                                                <option value="Manager">Manager</option>
                                                <option value="Candidate">Candidate</option>
                                            </select>
                                        </center>
    </div>
         
    <div class="col-4">
         <label><h5 style="font-weight: bold;">Joining date from :</h5></label>
        <input class="au-input au-input--full" type="date" id="ename" name="df" placeholder="Enter date (yyyy-mm-dd)" required style="height: 40px; width: 300px" required>
    </div>
    
    <div class="col-4">
        <label><h5 style="font-weight: bold;">Joining date to :</h5></label>
        <input class="au-input au-input--full" type="date" id="ename" name="dt" placeholder="Enter date (yyyy-mm-dd)" required style="height: 40px; width: 300px" required>            
    </div> 
    <div class="form-group">
    <div class="col-sm-12 mt-3 ml-2 d-flex">
    
            <button class="btn btn-warning text-white mx-auto mx-md-0" type="submit" name="button1">submit</button> 
            </div>    
        </div>
</div>
</form>
</div>
</div>
</div>
</div>



{% if ustype == "Manager" %}
<div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

<form method="POST" action="{{url_for('datewise')}}">

<table class="table user-table">
    
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Id</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Name</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">dob</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">gender</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">Adhar no</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">email</th>

                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in man %}
                                             
                                            <tr>
                                                <td>{{ item['manager_id'] }}</td>
                                                <td>{{ item['name'] }}</td>
                                                <td>{{ item['dob'] }}</td>
                                                <td>{{ item['gender'] }}</td>
                                                <td>{{ item['Adhaar_number'] }}</td>
                                                <td>{{ item['email'] }}</td>
                                            </tr>

                                           
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                    {% endif %}

            {% if ustype == "Candidate" %}
<table class="table user-table">
   
                                        <thead>
                                            <tr>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Id</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">Name</th>
                                                <th class="border-top-0" style="font-weight: bold;font-size: 17px;">dob</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">gender</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">Adhar no</th>
                                                <th class="border-top-0"style="font-weight: bold;font-size: 17px;">email</th>

                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                             {% for item in man %}
                                             
                                            <tr>
                                                <td>{{ item['user_id'] }}</td>
                                                <td>{{ item['name'] }}</td>
                                                <td>{{ item['dob'] }}</td>
                                                <td>{{ item['gender'] }}</td>
                                                
                                                <td>{{ item['Adhaar_number'] }}</td>
                                                <td>{{ item['email'] }}</td>
                                            </tr>

                                           
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                    </form>
                            </div>
                        </div>
                    </div>
                </div>
                                    {% endif %}
                                




{% endblock content%}