{% extends "dashboard.html" %}
{% block content %}


 <div class="container register">
                            <div class="row">
                                
                                <div class="col-md-7 register-right">
                                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active btn btn-dark d-none d-md-inline-block text-white " id="form1-tab" data-toggle="tab" href="#form1" role="tab" aria-controls="form1" aria-selected="true">New Form<a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link btn btn-dark d-none d-md-inline-block text-white" id="form2-tab" data-toggle="tab" href="#form2" role="tab" aria-controls="form2" aria-selected="false">Update From</a>
                                        </li>
                                    </ul>

                                    <!-- new form start -->

                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="form1" role="tabpanel" aria-labelledby="form1-tab">
                                            <br>
    
<div class="row">
                    <div class="col-lg-12 col-xlg-12 col-md-12">
                        <div class="card">
                            <div class="card-body profile-card">
                                 <form id="Login" action="{{ url_for('Manageform')}}" method="post" name="form1">
                                    

       <div class="form-group">
        <label><h5 style="font-weight: bold;padding-left: 100px;">Exam name :</h5></label>
    </br>
            <center>
            <input class="au-input au-input--full" type="text" id="ename" name="ename" placeholder="Enter Exam name" required style="height: 40px; width: 300px">
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;"> Enter Type :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="etype" name="etype" placeholder="Type of Exam" required style="height: 40px; width: 300px">
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;"> Exam Niche :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="niche" name="niche" placeholder="Enter Exam Niche" required style="height: 40px; width: 300px">
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;"> Name Of Organisation :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="noo" name="noo" placeholder="Enter Name Of Organisation" required style="height: 40px; width: 300px">
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;"> City :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="city" name="city" placeholder="Enter City" required style="height: 40px; width: 300px">
        </center>
        </div>
        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;"> State :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="state" name="state" placeholder="Enter State" required style="height: 40px; width: 300px">
        </center>
        </div>
         <div class="form-group">
                                        <div class="row">
                                            <div class="col-12" style="padding-left: 180px;">
                                            <button class="btn btn-warning text-white col-6" name="button1">Add Form</button>
                                            </div>
                                        </div>
                                    </div>


    </form>

                                
                            </div>
                        </div>
                    </div>
</div>
                                            
                                        </div>

                                        <!-- New Form ends -->

                <!-- Update Form Start-->

<div class="tab-pane fade show" id="form2" role="tabpanel" aria-labelledby="form2-tab">
                                        
 
 </br>

       {{ exam }}             

<div class="row">
                    <div class="col-lg-12 col-xlg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                 <form id="Login" action="{{ url_for('Manageform')}}" method="post">
                                    
                                    <div class="form-group">
                                     <label><h5 style="font-weight: bold;padding-left: 100px;">Exam Id :</h5></label>
                                     <center>
                                            <select class="form-control pl-0 form-control-line" required style="height: 40px; width: 300px" placeholder="Exam Id" name="examid">
                                                <option>select</option>
                                                {% for item in data%}
                                                <option value="{{ item['exam_id'] }}">{{ item['exam_id'] }}</option>
                                                {% endfor %}
                                            </select>
                                        </center>
                                    </div>

       <div class="form-group">
        <label><h5 style="font-weight: bold;padding-left: 100px;">Exam name :</h5></label>
        </br>
            <center>
            <input class="au-input au-input--full" type="text" id="ename" name="ename" placeholder="Enter Exam name" required style="height: 40px; width: 300px" required>
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;">Enter Type :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="etype" name="etype" placeholder="Type of Exam" required style="height: 40px; width: 300px" required >
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;">Exam Niche :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="niche" name="niche" placeholder="Enter Exam Niche" required style="height: 40px; width: 300px" required>
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;">Name Of Organisation :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="noo" name="noo" placeholder="Enter Name Of Organisation" required style="height: 40px; width: 300px" required>
        </center>
        </div>

        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;">City :</h5></label>
            </br>           
            <center>
            <input class="au-input au-input--full" type="text" id="city" name="city" placeholder="Enter City" required style="height: 40px; width: 300px" required>
        </center>
        </div>
        <div class="form-group">
            <label><h5 style="font-weight: bold;padding-left: 100px;">State :</h5></label>
            </br>
            <center>
            <input class="au-input au-input--full" type="text" id="state" name="state" placeholder="Enter State" required style="height: 40px; width: 300px" required>
        </center>
        </div>
   
         <div class="form-group">
                                        <div class="col-12" style="padding-left: 180px;">
                                            <button class="btn btn-warning text-white col-6" name="button2">Update Form</button>
                                        </div>
                                    </div>


    </form>
    </center>     
                            </div>
                        </div>
                    </div>
</div>
                                            
                                            

                                                
                                            </div>


                                            
                                        
                                    </div>
                                </div>
                            </div>

                        </div>



                        </div>
                    </div>
                </div>
        

</div>


{% endblock content %}